@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --branco: #fff;
    --preto: #000;
    --botao-home: #B04759;
}

* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    margin-top: 3em;
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
